include ../modules/button/button.pug
include ../modules/logo/logo.pug
include ../modules/nav/nav.pug
include ../modules/menu/menu.pug
include ../modules/show-menu/show-menu.pug

include ../modules/slider/slider.pug


include ../modules/header/header.pug

include ../modules/section_1/section_1.pug
include ../modules/section_2/section_2.pug
include ../modules/section_3/section_3.pug
include ../modules/section_4/section_4.pug
include ../modules/section_5/section_5.pug
include ../modules/footer/footer.pug