extends ../template/template.pug
block content
	+header.background(style="background-image: url('./img/header-bg.png')", id="header")
	main.main
		+section_1
		+section_2
		+section_3
		+section_4.background(style="background-image: url('./img/section_4-bg.png')")
		+section_5(id="about")
	+footer(id="footer")