mixin footer(modifier)
	.footer&attributes(attributes)
		.container.text-center
			.navigation.flex-container.align-center-middle.flex-wrap&attributes(attributes)
				- var menu = [{href: "#",name: "home"},{href: "#",name: "about us"},{href: "#",name: "contact"},{href: "#",name: "careers"}];
				each item in menu
					a.font.text-uppercase.navigation__item(href= item.href)= item.name
			.square.flex-container.align-center-middle
				.square__item
				.square__item
				.square__item
			.description
				p.font.sm.description__item 120 Theresa Ave, American Canyon, CA 94503
				p.font.sm.description__item 707.561.0134 
				a.font.second.description__item(href="mailto:familyresources@mbisinc.com") familyresources@mbisinc.com
			.copyright
				p.font Copyright Ⓒ 2017 McGrews Behavior Services All Rights Reserved