$title-color: (
	'second': $second,
	'fifth': $fifth
);
$title-size: (
	'1': 60px, 
	'2': 48px,
	'3': 40px,
	'4': 36px,
	'5': 26px,
	'6': 24px
);
$title-weight: (
	'light': 300, 
	'regular': 400,
	'semibold': 700, 
	'bold': 900
);
.h1, h1,
.h2, h2,
.h3, h3,
.h4, h4,
.h5, h5,
.h6, h6{
	color: $base-font-color;
	line-height: $base-font-line-height;
	font-family: $base-font-family;
	font-weight: $base-font-weight;
	text-shadow: 0px 2px 0px rgba(0,0,0,0.2);
	@each $status, $text-color in $title-color{
		&.#{$status}{
			color: $text-color;
		}
	}
	@each $status, $text-weight in $title-weight{
		&.#{$status}{
			font-weight: $text-weight;
		}
	}
}
@each $index, $status in $title-size{
	.h#{$index}, h#{$index}{
		font-size: $status;
	}
}