mixin section_5(modifier)
	section.section.section_5&attributes(attributes)
		.container
			.team.flex-container.flex-wrap
				.team__left.background
				.team__right
					p.font.fifth.text-cursive Be a part of something bigger than yourself. Make a difference.
					h2.fifth.bold.title--line Join Our 
						span Team.
					p.font.fifth We are always looking for highly motivated individuals who aligned with our committment to making a difference in the lives of other people. Whether you’re a BCBA or interested in ABA work we are interested in talking to you!
					button.button.primary Find whats's available