mixin menu(modifier)
	.flex-container.align-middle
		menu.menu.flex-container.align-middle&attributes(attributes)
			- var menu = [{href: "#header",name: "home"},{href: "#about",name: "about us"},{href: "#footer",name: "contact"}];
			each item in menu
				a.font.text-uppercase.menu__item(href= item.href)= item.name