mixin section_4(modifier)
	section.section.section_4&attributes(attributes)
		.container
			-var img = ["./img/slide-1-bg.png", "./img/slide-1-bg.png", "./img/slide-1-bg.png", "./img/slide-1-bg.png"]
			+slider(img)