.button {
	border: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
	width: 290px;
	height: 70px;
	color: #fff;
	font-size: 20px;
	font-family: $base-font-family;
	font-weight: $base-font-weight;
	transition: $base-transition;
	line-height: $base-font-line-height;
	border-bottom: 10px;
	border-style: solid;
	&.primary{
		background-color: $primary;
		border-color: darken($primary, 10%);
		&:hover,
		&--active {
			border-bottom: 0;
		}
	}
	&.second{
		background-color: $second;
		border-color: darken($second, 10%);
		&:hover,
		&--active {
			border-bottom: 0;
		}
	}
}