mixin section_2(modifier)
	section.section.section_2&attributes(attributes)
		.container
			.age.text-center
				h2.fifth.bold.age__title Support For People Of All Walks of Life
				p.font.fifth.age__text Children as young as 2 years old may begin to develop behaviors which need extra support and attention.
				img.age__img(src="./img/section_2-bg.png")