.header{
	height: 660px;
	background-size: cover;
	.info{
		margin-top: 50px;
		max-width: 500px;
		width: 100%;
		@include media-max(768){
			margin-top: 0;
		}
		&__button{
			margin-top: 60px;
		}
	}
}