mixin header(modifier)
	.header&attributes(attributes)
		+nav
		.container(style="padding-top: 150px")
			.info
				h2.fifth.bold.title--line.info__title We can 
					span help
				p.font.fifth.text-shadow.info__text Teaching independence to the lives of the people you love with reliable, individualized emotional and behavioral therapy.
				button.button.second.info__button find help here