mixin section_3(modifier)
	section.section.section_3&attributes(attributes)
		.container
			.contact.text-center
				h6.semibold.contact__title McGrew Behavior Services Helps...
				p.font.contact__text Families, organizations and health care providers in Northern California. Our knowledge and experience provide the specialized support people need when overcoming behavioral challenges.
				button.button.second.contact__button Contact us